<head>
    <meta charset="UTF-8">
    <title>Main Screen</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-blue-100 to-blue-200 text-center pt-20 min-h-screen">
    <h1 class="text-4xl text-blue-900 font-bold mb-10">Olympics Management System</h1>
    <ul>
        <li class="mb-4">
            <a href="/athletes" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Athlete Management
            </a>
        </li>
        <li class="mb-4">
            <a href="/sports" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Sport Management
            </a>
        </li>
        <li class="mb-4">
            <a href="/competitions" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Competition Management
            </a>
        </li>

        <li class="mb-4">
            <a href="/advanced-operations" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Advanced Operations
            </a>
        </li>
    </ul>
</body>